    7) comments whith slider
    <section class="content">
      <div class="comments">
        <a name="Blog"></a>
        <div class="slider_items">

          <div class="item">
            <div class="comment">
              <div class="comment_text">
                <div class="foto">
                  <img src="img/comment_foto_1.jpg" alt="foto">
                </div>
                <p class="text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="sub">
                  <span>Trainer</span>
                  <span>Laura Shepard</span>
                </div>
              </div>
              <div class="author">
                <div class="">
                  <img src="img/author_foto_1.png" alt="foto">
                </div>
                <div class="sub">
                  <span>Sara Taylor</span>
                  <span>Trainer</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="comment">
              <div class="comment_text">
                <div class="foto">
                  <img src="img/comment_foto_2.jpg" alt="foto">
                </div>
                <p class="text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="sub">
                  <span>Trainer</span>
                  <span>Laura Shepard</span>
                </div>
              </div>
              <div class="author">
                <div class="">
                  <img src="img/author_foto_2.png" alt="foto">
                </div>
                <div class="sub">
                  <span>Sara Taylor</span>
                  <span>Trainer</span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
