    footer
    <section class="footer">
      <div class="">
        <div class="footer_left">
          <h2>About</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


        </div>
        <div class="footer_right">
          <div class="">
            <h2>CONTACT US</h2>
          </div>
          <div class="contact">

            <div class="adress">
              <div class="sprite">
              </div>
              <p>5419 Joseph Mountains Apt. 716</p>
            </div>
            <div class="phone">
              <div class="sprite">
              </div>
              <p>+1 234 567 89<br> +1 234 678 90</p>
            </div>
            <div class="mail">
              <div class="sprite">
              </div>
              <p>joga.info@example.com</p>
            </div>
            <div class="site">
              <div class="sprite">
              </div>
              <p>www.example.com</p>
            </div>

          </div>


        </div>
      </div>
      <div class="copyright">
        <p>Copyright © 2016-2017 Yoga classes</p>
      </div>
    </section>
