    <section class="content">
      <div class="form">
        <div class="form-wrapper">

        <div class="form_try-it">
          <form action="/action_page.php">
            <legend>Trial Class</legend>
            <input type="text" name="name" value="Enter your name"><br>
            <input type="text" name="phone" value="Enter your phone"><br>
            <input type="text" name="class" value="Chose your class"><br><br>
            <input type="submit" value="Try it">
          </form>
        </div>
        <div class="slogan">
          <div class="">
            <h2>Just Balance<br> your Mind & Body</h2>
            <p>Create the healthy living for yourself</p>
          </div>
        </div>
      </div>
    </div>
    </section>
