    3) gallery
    <section class="content">
      <div class=" gallery">
        <a name="gallery"></a>
        <ul>
          <li><a href="#"><img src="img/gallery_1.jpg" alt="foto"></a></li>
          <li><a href="#"><img src="img/gallery_2.jpg" alt="foto"></a></li>
          <li><a href="#"><img src="img/gallery_3.jpg" alt="foto"></a></li>
          <li><a href="#"><img src="img/gallery_4.jpg" alt="foto"></a></li>
          <li><a href="#"><img src="img/gallery_5.jpg" alt="foto"></a></li>
          <li><a href="#"><img src="img/gallery_6.jpg" alt="foto"></a></li>
          <li><a href="#"><img src="img/gallery_7.jpg" alt="foto"></a></li>
          <li><a href="#"><img src="img/gallery_8.jpg" alt="foto"></a></li>
        </ul>
      </div>
    </section>
