      Header
      <section class="header">
        <div class="">
          <div class="logo">
            <div class="">
              <a href="#">
                <img src="img/logo.png" alt="YOGA">
              </a>
            </div>
          </div>
          <div class="menu">
            <div class="">

              <div class="left_top_menu">
                <ul>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Reservation</a></li>
                  <li><a href="#">Gallery</a></li>
                </ul>
              </div>
              <div class="right_top_menu">
                <ul>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Elements</a></li>
                  <li><a href="#">Shop</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
