      <section class="header clearfix">

        <div class="menu left_menu" id="left_menu">
          <ul>
            <li><a href="#about_us">About us<span></span></a></li>
            <li><a href="#Reservation">Reservation<span></span></a></li>
            <li><a href="#gallery">Gallery<span></span></a></li>
          </ul>
        </div>

        <div class="menu right_menu" id="right_menu">
          <ul>
            <li><a href="#Blog">Blog<span></span></a></li>
            <li><a href="#Elements">Elements<span></span></a></li>
            <li><a href="#Reservation">Shop<span></span></a></li>
          </ul>
        </div>

        <div class="logo">
          <div class="">
            <a href="#">
              <img src="img/logo.png" alt="YOGA">
            </a>
          </div>
        </div>

      </section>
