    5) icons
    <section class="content">
      <div class="icons">
        <ul>
          <li>
            <div class="">
              <div class="icon">

              </div>
            </div>
            <div class="">
              <h2>IMPROVED OVERALL HEALTH</h2>
              <p>Enim ad minim veniam, quis nostrud exercitation toui ullamcomi</p>
            </div>
          </li>
          <li>
            <div class="">
              <div class="icon">

              </div>
            </div>
            <div class="">
              <h2>INCREASED CONCENTRATION</h2>
              <p>Enim ad minim veniam, quis nostrud exercitation toui ullamcomi</p>
            </div>
          </li>
          <li>
            <div class="">
              <div class="icon">

              </div>
            </div>
            <div class="">
              <h2>BLANCE YOUR MIND</h2>
              <p>Enim ad minim veniam, quis nostrud exercitation toui ullamcomi</p>
            </div>
          </li>
          <li>
            <div class="">
              <div class="icon">

              </div>
            </div>
            <div class="">
              <h2>SLEEP BETTER</h2>
              <p>Enim ad minim veniam, quis nostrud exercitation toui ullamcomi</p>
            </div>
          </li>
          <li>
            <div class="">
              <div class="icon">

              </div>
            </div>
            <div class="">
              <h2>WEIGHT LOSS</h2>
              <p>Enim ad minim veniam, quis nostrud exercitation toui ullamcomi</p>
            </div>
          </li>
          <li>
            <div class="">
              <div class="icon">

              </div>
            </div>
            <div class="">
              <h2>STRENGTHENS YOUR BONES</h2>
              <p>Enim ad minim veniam, quis nostrud exercitation toui ullamcomi</p>
            </div>
          </li>
          <li>
            <div class="">
              <div class="icon">

              </div>
            </div>
            <div class="">
              <h2>INCREASED FLEXIBILITY</h2>
              <p>Enim ad minim veniam, quis nostrud exercitation toui ullamcomi</p>
            </div>
          </li>
          <li>
            <div class="">
              <div class="icon">

              </div>
            </div>
            <div class="">
              <h2>LOWER BLOOD PRESSURE</h2>
              <p>Enim ad minim veniam, quis nostrud exercitation toui ullamcomi</p>
            </div>
          </li>

        </ul>
      </div>
    </section>
