    6) offers
    <section class="content">
      <div class="offers">
        <div class="offer">

          <div class="price">
            <span>$ 49 / month</span>
          </div>

          <div class="describe">
            <ul>
              <li>ENTRY DATE: MON – FRI</li>
              <li>ENTRY TIME: 8A.M – 8P.M</li>
              <li>NUTRITION ADVICER: NO</li>
            </ul>
          </div>

          <div class="button">
            <a href="#"><span>Buy now</span></a>
          </div>

        </div>

        <div class="offer">

          <div class="price">
            <span>$ 69 / month</span>
          </div>

          <div class="describe">
            <ul>
              <li>ENTRY DATE: MON – FRI</li>
              <li>ENTRY TIME: 8A.M – 8P.M</li>
              <li>NUTRITION ADVICER: YES</li>
            </ul>
          </div>

          <div class="button">
            <a href="#"><span>Buy now</span></a>
          </div>

        </div>

        <div class="offer">

          <div class="price">
            <span>$ 99 / month</span>
          </div>

          <div class="describe">
            <ul>
              <li>ENTRY DATE: MON – FRI</li>
              <li>ENTRY TIME: 8A.M – 8P.M</li>
              <li>NUTRITION ADVICER: YES</li>
            </ul>
          </div>

          <div class="button">
            <a href="#"><span>Buy now</span></a>
          </div>

        </div>

      </div>
    </section>
