    2) yoga feature program (product)
    <section class="content">
      <div class="product">
        <a name="Elements"></a>
        <div class="">
          <h2>Yoga FEATURE PROGRAM</<h2>
            <p>Our Classes</p>
        </div>
        <div class="">
          <ul>
            <li>
              <div class="">
                <img src="img/yoga_class_1.jpg" alt="Our Class">
              </div>
              <div class="">
                <h3>Yoga For Health</h3>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                <p>Ashtanga - Hatha</p>
              </div>
            </li>
            <li>
              <div class="">
                <img src="img/yoga_class_2.jpg" alt="Our Class">
              </div>
              <div class="">
                <h3>Yoga For Lose Weight</h3>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                <p>Ashtanga - Hatha</p>
              </div>
            </li>
            <li>
              <div class="">
                <img src="img/yoga_class_3.jpg" alt="Our Class">
              </div>
              <div class="">
                <h3>Yoga For Children</h3>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                <p>Ashtanga - Hatha</p>
              </div>
            </li>
            <li>
              <div class="">
                <img src="img/yoga_class_4.jpg" alt="Our Class">
              </div>
              <div class="">
                <h3>Yoga For Elderly</h3>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                <p>Ashtanga - Hatha</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
