    4) about us (slider)
    <section class="content">
      <div class="slider">
        <div class="">
          <h2>About us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d</p>
        </div>
        <div class="slider_items">
          <div class="item">
            <img src="img/slider_item_1.jpg" alt="foto">
          </div>
          <div class="item">
            <img src="img/slider_item_1.jpg" alt="foto">
          </div>
        </div>
      </div>
    </section>
