    <section class="content">

      <div class="about_us">

        <div class="about_us_text">
          <a name="about_us"></a>
          <h2>About us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d</p>
        </div>

        <div class="about_us_slider">

          <div class="slider">
            <div class="item">
              <img src="img/slider_item_1.jpg" alt="foto">
            </div>
            <div class="item">
              <img src="img/slider_item_1.jpg" alt="foto">
            </div>
          </div>
        </div>


      </div>
    </section>
